# FlyTriplatam Environment Variables
NEXT_PUBLIC_WEBHOOK_URL=https://patricioflorestorres.app.n8n.cloud/webhook/charterlink-req
NEXT_PUBLIC_WHATSAPP=56976711418
NEXT_PUBLIC_EMAIL=charter@triplatam.com
